.en-list {
  width: 400px;
  background-color: white;
  border-radius: 20px;
  margin: 98pt;
  transition: margin 0.3s;
}

@media screen and (max-height: 800px){
    .en-list {
      margin: 60pt;
    }
}

@media screen and (min-height: 400px){
  .en-list {
    margin: 40pt;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
:root {
  color-scheme: light dark;
}

.mdl-list__item-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333 !important;
    color: black;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: black;
  }
}
